/*
    CSS Cajas Flotantes
    Diciembre 2020
    Jesús Delgado Ramos
*/

*{
    margin: 0px;
    box-sizing: border-box;
}

div{
    padding: 20px;
    border: solid black 3px;
    width: 50%;
    float: left;
}

.roja{
    background-color: red;
}

.amarilla{
    background-color: yellow;
}

.verde{
    background-color: green;
    clear: both;
    width: 100%;
}

.naranja{
    background-color: #e0650b;
    clear: both;
    width: 100%;
}