/*
    Hoja de Estilo P9 CSS
    Diciembre 2020
    Jesús Delgado Ramos
*/

*{
    margin: 0px;
    box-sizing: border-box;
}

header,footer{
    background-color: darkgoldenrod;
    padding: 25px;
    color: white;
    text-align: center;
}

footer{
    clear: both;
}
section{
    width: 33.33333333333333333333%;
    background-color: lightgray;
    padding: 20px;
    float: left;
}